<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- JSON Encoder Configuration for Console Only -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <loggerName/>
                <message/>
                <mdc/>
                <threadName/>
                <stackTrace/>
                <pattern>
                    <pattern>
                        {
                            "service": "CQRS-QUERY",
                            "host": "${HOSTNAME:-unknown}",
                            "version": "${spring.application.version:-1.0.0}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.crqs.query" level="INFO"/>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.data.mongodb" level="WARN"/>
    <logger name="org.apache.kafka" level="WARN"/>

    <logger name="com.crqs.query.cqrs_query.util.LoggingUtil" level="INFO"/>

</configuration> 